@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>WebSite Done by <a href="https://github.com/Farad2020">Farad2020</a>. All the Data used was got from the web and GamerPower Api.
    <br>In having any questions, you can try to contact the creator.
    <br>The Project was done for educational purposes with no material gain.</p>
